@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  /* Base Colors */
  --body-background-color: #f6f7f8;
  --item-background: #ffffff;
  --text-color: #072635;

  /* Accent Colors */
  --slate: #ffe6e9;
  --shade: #f4f0fe;
  --active-bg-2: #d8fcf7;
  --active-bg-1: #01f0d0;
  --text-color-light: #707070;

  /* Graph Colors */
  --graph1: #7e6cab;
  --graph2: #c26eb4;
}

body {
  font-family: "Manropen", sans-serif;
  background-color: var(--body-background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-color: #072635 #e3e4e6;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-button {
  display: none;
}

body::-webkit-scrollbar-track {
  background: #e3e4e6;
  border-radius: 10px;
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem;
  margin: 18px;
  font-size: 0.875rem;
  color: var(--text-color);
  font-weight: bold;
  border-radius: 70px;
  background-color: var(--item-background);
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
}

.navbrand img {
  width: 211px;
  height: 48px;
}

.nav-list {
  display: flex;
  align-items: center;

  ul {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 1.5rem;

    li {
      align-items: center;
    }
  }

  a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.875em;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .navlink-icon {
    width: 15px;
    height: 17px;
  }
}

.active-account {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .avartar {
    width: 44px;
  }
}

.account-details {
  gap: 0;
  p:nth-child(2) {
    font-weight: lighter;
    color: var(--text-color-light);
  }
}
.action {
  img {
    height: 1.25rem;
  }

  .settings {
    width: 19px;
    height: 20px;
    padding-right: 0.75rem;
    padding-left: 1.5625rem;
  }
}

/* patients aside */

.patients-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    font-size: 24px;
    font-weight: bolder;
  }
  img {
    width: 18px;
    height: 18px;
  }
}

.more-btn {
  transform: rotate(90deg);
  height: 18px;
}

.patient {
  display: flex;
  justify-content: space-between;

  .patient-details {
    img {
      width: 48px;
      height: 48px;
    }
  }

  .name {
    font-weight: bold;
  }

  span {
    font-weight: normal;
    font-size: 14px;
    color: var(--text-color-light);
  }
}

main {
  margin: 32px 18px;
}

aside {
  background-color: var(--item-background);
  padding: 20px;
  border-radius: 16px;
}

.patients-list {
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 1rem;
  height: 110vh;
  overflow-y: scroll;
}

/* patients main */
.pro-pic {
  width: 12.5rem;
}

.pat-info {
  aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
  }
  h2 {
    font-size: 24px;
    font-weight: bolder;
  }
  .patient-more-details {
    img {
      width: 2.65rem;
    }

    span {
      font-size: 0.875rem;
      :nth-child(2) {
        font-weight: bold;
      }
    }

    > * {
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-bottom: 1rem;
    }
  }
}

button {
  background-color: var(--active-bg-1);
  height: 41px;
  width: 220px;
  border-radius: 41px;
  border: none;
}

.lab-container {
  width: 100%;
  gap: 1rem;
  max-height: 200px;
  overflow-y: scroll;
  img {
    width: 20px;
  }

  div:hover {
    background-color: #f6f7f8;
  }
}

.legend-color {
  display: flex;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
